<!DOCTYPE html>
<html>
  <head>
    <title>Fursuit Market</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="red lighten-5">
    <nav>
       <div class="nav-wrapper container">
         <a href= <%= root_path %> class="brand-logo is-fun-text">F . M</a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           <li><%= link_to "Login / Sign up", new_user_session_path %></li>
           <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
         </ul>
       </div>
     </nav>

    <%= yield %>

    <footer class="page-footer">
      <!-- <div class="container">
       <div class="row">
         <div class="col l4 s12">
           <a href="http://t,me/HowlrLab" class="grey-text text-lighten-4">Telegram</p>
         </div>
         <div class="col l4 s12">
           <a href="http://twitter.com/HowlrLab" class="grey-text text-lighten-4">Twitter</p>
         </div>
         <div class="col l4 s12">
           <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
         </div>

       </div>
      </div> -->
      <div class="footer-copyright">
       <div class="container">
       © 2018 Howlr
       </div>
      </div>
    </footer>
  </body>
</html>
